<div class="contacts">
    <p class="text">@Resource.OurCoordinatesText</p>
    <p class="value">@Resource.OurCoordinates</p>
    <p class="text">@Resource.OurPhoneNumberText</p>
    <p class="value">+7 (812) 570-46-25</p>
</div>